div.notFound {
    padding: 50px 0px;
    width: 100%;
    text-align: center;
    span {
        text-align: center;
        display: inline-block;
        font-size: 24px;
        margin-right: 20px;
    }
    button {
        width: 90px;
        height: 24px;
        cursor: pointer;
    }
}