<div [ngBusy]="busy"></div>
<div class="container searchInfo" fxFlexAlign="center center" fxFlexAlign.xs="center center" fxLayout="row" fxLayoutAlign.xs="center" fxLayoutAlign="center space-around" fxLayout.xs="column" *ngIf="user || repo">
  <div class="avatarBox">
    <img src="{{user ? user.avatar_url : repo.avatar_url}}" />
  </div>
  <div class="userInfo" *ngIf="user" fxLayout="column" fxLayoutAlign="center center">
    <span>Name : {{user.name || 'Not available'}}</span>
    <span>Login : {{user.login || 'Not available'}}</span>
    <span>Company : {{user.company || 'Not available'}}</span>
    <span>Location : {{user.location || 'Not available'}}</span>
  </div>
  <div class="userInfo" *ngIf="repo" fxLayout="column" fxLayoutAlign="center center">
    <span>Name : {{repo.name || 'Not available'}}</span>
    <span>Owner : {{repo.login || 'Not available'}}</span>
    <span>Full Name : {{repo.fullname || 'Not available'}}</span>
  </div>
  <div class="repoLinks" fxLayout="column" fxLayoutAlign="center center">
    <button (click)="loadFollower()">See Followers</button>
    <button (click)="loadFollowing()">See Followings</button>
    <button (click)="loadRepos()">See Repositories</button>
  </div>
</div>

<div class="container filterBox">
  <span *ngIf="followers || repos">{{listText}}</span>
  <div>
    <span *ngIf="repos">Search repository</span>
    <input *ngIf="repos" type="text" [(ngModel)]="filterText" />
  </div>
</div>

<div class="container listFollowBox" fxLayout="row wrap" fxLayout.xs="row wrap" *ngIf="followers" fxLayoutGap="5" fxLayoutGap.xs="5" fxLayoutAlign="center" fxLayoutAlign.xs="center">
  <div class="item" *ngFor="let follow of followers" (click)="navigateUser(follow.login)">
    <div class="avatarBox">
      <img src="{{follow.avatar_url}}" />
      <span>{{follow.login}}</span>
    </div>
  </div>
</div>

<div class="container listRepoBox" *ngIf="repos" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayoutAlign="center" fxLayoutAlign.xs="center" fxLayoutGap="5" fxLayoutGap.xs="5">
  <div class="item" *ngFor="let repo of repos | searchPipe : filterText" (click)="navigateRepo(repo.name)">
    <div>
      <span>{{repo.name}}</span>
    </div>
  </div>
</div>