$bgColor : #ccc;

div.searchInfo {
    margin-top: 10px;
    div {
        text-align: center;
        margin: 5px 20px;
        text-align: left;
    }
    div.avatarBox {
        img {
            height: 210px;
            width: 210px;
            text-align: center;
            margin: 0px auto;
            display: block;
        }
    }
    div.userInfo {
        span {
            display: block;
            margin: 10px 0px;
            text-align: center;
        }
    }
    div.repoLinks {
        button {
            margin: 7px 0px;
            height: 24px;
            width: 210px;
            cursor: pointer;
            background-color: $bgColor;
        }
    }
}

.filterBox {
    margin: 10px 0px 20px;
    text-align: center;
    div {
        margin-top: 20px;
    }
    span {
        font-size: 20px;
        margin-right: 20px;
    }
    input {
        width: 150px;
        height: 20px;
        margin: 5px;
        border: 1px solid $bgColor;
    }
}

.listFollowBox {
    div {
        cursor: pointer;
        width: 125px;
        height: 180px;
        div.avatarBox {
            img {
                height: 120x;
                width: 120px;
            }
            span {
                display: block;
                text-align: center;
                margin: 4px;
            }
        }
    }

}

.listRepoBox {
    div {
        cursor: pointer;
        text-align: center;
        margin: 5px 10px;
        div {
            border: 1px solid $bgColor;
            width: 150px;
            height: 50px;
            border-radius: 10px;
            background-color: $bgColor;
            span {
                display: block;
                color: #000;
                text-align: center;
                margin: 10px;
                word-wrap: break-word;
            }
        }
    }
}