<div class="containerX">

  <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item header">
      <h1>{{title}}</h1>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>