<div class="container searchBox" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center space-around" fxLayoutAlign.xs="center space-around" fxFlexAlign="center center" fxFlexAlign.xs="center center" fxLayoutGap.xs="10px">
    <div>
      <span>Enter Git ID:</span>
    </div>
    <div>
      <input type="text" [(ngModel)]="searchText" />
    </div>
    <div>
      <button (click)="searchRepo()">Submit</button>
    </div>
  </div>