div.searchBox {
    margin: 40px 0px;
    text-align: center;
    div {
        margin: 0px 20px;
        span {
            font-size: 20px;
        }
        input {
            width: 200px;
            height: 20px;
        }
        button {
            width: 90px;
            height: 24px;
            cursor: pointer;
        }
    }
}